
body {
  font-family: RobotoDraft, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

section {
  margin: 20px;
}

a, a:hover {
  text-decoration: none;
}

core-toolbar {
  background-color: #eeeeee;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: #666666;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

paper-button {
  margin: 0.5em 1em 0.5em 0;
  width: 10em;
}

paper-button[right] {
  position: fixed;
  right: 0;
}

paper-checkbox {
  margin-left: 1em;
}

paper-fab {
  position: absolute !important;
  top: 35px;
  right: 1em;
  z-index: 1;
}

paper-tabs {
  background-color: #dddddd;
  color: #999999;
}

paper-tabs[noink][nobar] paper-tab.core-selected {
  color: #ffff8d;
}
.photo-container {
  width: 140px;
  height: 140px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 16px;
  margin: 16px;
}

.photo-background{
  background-size: cover;
}
google-map {
  width: 100%;
  height: 400px;
}
core-animated-pages {
  height: 600px;
  margin-bottom: 20px;
  overflow: auto;
}
.home-intro {
  background: rgba(255, 255, 255, .75);
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
}






